<section class="container"> 
<form method="post" name="form" data-ng-controller="workspaceController" data-ng-submit="Edit(workspace)" data-ng-init="EditWorkspaces()" novalidate>
<section class="my_workspace">
<h2>My Workspaces - Modify Workspace</h2>
	<div class="new-form-creation">
		<div class="row mb20" >
			<div class="frm-prt">
				
                <label>Workspace Name</label>
                <input type="text" class="mt20 mb10" name="workspace_name" data-ng-model="workspace.workspace_name" required/>
				<span class="span-wrkspcerror" data-ng-show="form.$submitted || form.workspace_name.$touched">
                        <span data-ng-show="form.workspace_name.$error.required">
                            *Workspace name is required.
                        </span>
                 </span>

				<label>Description</label>
			    <textarea rows="4" class="description mt20 mb10" name="workspace_description" data-ng-model="workspace.workspace_description"  required></textarea>
                <span class="span-wrkspcerror" data-ng-show="form.$submitted || form.workspace_description.$touched">
                        <span data-ng-show="form.workspace_description.$error.required">
                            *Workspace description is required.
                        </span>
                 </span> 
                 
                 <input type="hidden" name="workspace.workspacegid" data-ng-model="workspace.workspacegid" data-ng-show="false" />

                <button type="submit"  class="savegreen">Save</button>
			</div>	
		</div>
	</div>
</section>
</form>
</section>